@charset "UTF-8";

body {
    margin: 0;
    background-color:rgb(232, 198, 154);
    text-align: center;
}

.title {
    padding: 20px 0 20px 20px;
    background-color:bisque;
}

h1 {
    margin: 0;
}

.content {
    padding-left: 20px;
}

.tableInfo {
    padding-top: 20px;
}

.tableInfo > #tinfo {
    display: inline-block;
    padding-bottom: 15px;
}

#noManager {
    margin: 0;
}

.radioButton {
    padding-top: 20px;
}

.decideSeat {
    padding-top: 10px;
}

.tables {
    padding-top: 25px;
}

.eachTable {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    counter-reset: seatNumber;
}

.eachTable table td::before {
    counter-increment: seatNumber;
    content: counter(seatNumber);
}

td {
    text-align: center;
    width: 80px;
    height: 30px;
}

#seatsForManagers {
    color: red;
}